          <% if @job.errors.any? %>
            <div id="error_explanation">
              <strong><%= pluralize(@job.errors.count, "error") %> prohibited this job from being saved:</strong>

              <ul>
              <% @job.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="row">
            <%= f.label :title, class: 'col control-label' %>
            <div class="col-sm-10">
              <%= f.text_field :title, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <%= f.label :company, class: 'col control-label' %>
            <div class="col-sm-10">
              <%= f.text_field :company, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <%= f.label :url, class: 'col control-label' %>
            <div class="col-sm-10">
              <%= f.text_field :url, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <%= f.label :city, class: 'col control-label' %>
            <div class="col-sm-10">
              <%= f.text_field :location, class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <%= f.label :category, class: 'col control-label' %>
            <div class="input-field">
              <%= f.select(:category, options_for_select([['Job',1], ['Internship',2]])) %>
            </div>
          </div>
          <div class="row">
            <%= f.label :description, class: 'col control-label' %>
            <div class="input-field col s12">
              <%= f.text_area :description, class: 'materialize-textarea'%>
            </div>
          </div>
          <div class="row">
            <%= recaptcha_tags %>
          </div>
