<%= render_errors(@job) %>

<div class="row">
  <%= f.label :title, class: 'col control-label' %>
  <div class="col-sm-10">
    <%= f.text_field :title, class: 'form-control' %>
  </div>
</div>
<div class="row">
  <%= f.label :company, class: 'col control-label' %>
  <div class="col-sm-10">
    <%= f.text_field :company, class: 'form-control' %>
  </div>
</div>
<div class="row">
  <%= f.label :url, class: 'col control-label' %>
  <div class="col-sm-10">
    <%= f.text_field :url, class: 'form-control' %>
  </div>
</div>
<div class="row">
  <%= f.label :location, class: 'col control-label' %>
  <div class="col-sm-10">
    <%= f.text_field :location, class: 'form-control' %>
  </div>
</div>
<div class="row">
  <%= f.label :category, class: 'col control-label' %>
  <div>
    <br />
    <%= f.radio_button(:category, 1) %>
    <%= f.label(:category_1, "Job") %>
    <br />
    <%= f.radio_button(:category, 2) %>
    <%= f.label(:category_2, "Internship") %>
  </div>
</div>
<div class="row">
  <%= f.label :description, class: 'col control-label' %>
  <div class="input-field col s12">
    <%= f.text_area :description, class: 'materialize-textarea'%>
  </div>
</div>

