
<%= render partial: "shared/navigation" %>

<main>
  <div id="container" class="container">

    <div class="row">
      <div id="leftSidebar" class="col m4 hide-on-small-only">
        <strong class="brand-logo">Will Code For Food</strong>
        <p>Coding jobs for 
          <ul>
            <li>CS Students</li>
            <li>Bootcamp Alumni</li>
            <li>Self Taugh Developers</li>
          </ul>
        No experience required.<br />
        Free to Post.<br />
        Free to Search.</p>
        <p><%= link_to "Post A Job", new_job_path, class: "btn blue-grey white-text"%></p>
      </div>

      <div id="rightSidebar" class="col m8 s12 offset-m4">
      <% @jobs.reverse_each do |job| %>
        <div class="card white">
          <div class="card-content">
            <span class="right-align"><%= job.created_at.to_date %></span> <br />
            <span class="card-title"><%= link_to job.title, job.url %></span><br />
            <% if job.category == 1 %>
              Job
            <% else %>
              Internship
            <% end %> <br />
            <%= job.company %> <br />
            <%= job.description %>
          </div>
          <div class="card-action">
             <%= link_to "Click Here To Apply", job.url %>
          </div>
        </div>
        <p><%= paginate @jobs %></p>

        <% end %>
      </div>
    </div>
  </div>
</main>
