<%= render partial: "shared/navigation" %>

<main>
  <div id="container" class="container">

    <div class="row">
      <%= render partial: "shared/left_sidebar" %>

      <div id="rightSidebar" class="col l6 m7 s12 offset-m5 offset-l6">
        <% @jobs.each do |job| %>
        <div class="card white">
          <div class="card-content">
            <span class="right-align"><%= job.created_at.to_date %></span> <br />
            <span class="card-title"><%= link_to job.title, job.url %></span><br />
            <% if job.category == 1 %>
              Job
            <% else %>
              Internship
            <% end %> <br />
            <%= job.company %> <br />
            <%= job.description %>
          </div>
          <div class="card-action">
             <%= link_to "Click Here To Apply", job.url %>
          </div>
        </div>
        <p><%= paginate @jobs %></p>

        <% end %>
      </div>
    </div>
  </div>
</main>
