<% @page_title="User Info" %>
<%= render partial: "shared/navigation" %>

<main>
  <div id="container" class="container">

    <div class="row">
      <%= render partial: "shared/left_sidebar" %>

      <div id="rightSidebar" class="col l7 m8 s12 offset-m4 offset-l5">

        <%= render partial: "shared/flash" %>
          
        <div class="card white">
          <div class="card-content">
            <%= link_to "Edit Info", {:controller => "users", :action => "edit", :id => @user.id} %><br />
            <span class="card-title"><%= @user.name %></span><br />
            <%= @user.email %><br />
            <%= link_to "My Posts", {:controller => "users", :action => "posts", :id => @user.id} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
