<header>
  <div class="navbar-fixed">
    <nav class="blue-grey darken-2">
      <div class="nav-wrapper container">
        <ul id="nav-mobile" class="right">
          <li><%= link_to "Jobs", :controller => "jobs", :action => "index" %></li>
          <li><%= link_to "Post", :controller => "jobs", :action => "new" %></li>
          <% if session[:user_id] == nil %>
            <li><%= link_to "Login", :controller => "access", :action => "login" %></li>
          <% else %>
            <li><%= link_to "Admin", :controller => "users", :action => "show", :id => session[:user_id] %></li>
            <li><%= link_to "Logout", :controller => "access", :action => "logout" %></li>
          <% end %>
          <li><%= link_to "About", :controller => "static_pages", :action => "about" %></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
