<!DOCTYPE html>
<html>
<head>
  <title>Will Code For Food - <%= @page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta id="viewport" name="viewport" content="width=device-width; initial-scale=1; maximum-scale=1; user-scalable=0;" />
</head>
<body class="grey lighten-4">

  <%= render partial: "shared/navigation" %>

  <main>
    <div id="container" class="container">

      <div class="row">
        <%= render partial: "shared/left_sidebar" %>

        <div id="rightSidebar" class="col l8 m7 s12 offset-m5 offset-l4">

          <%= render partial: "shared/warning" %>

          <%= render partial: "shared/flash" %>

          <%= yield %>
        </div>
      </div>
    </div>
  </main>

<%= debug(params) if Rails.env.development? %>

<script>
  $(document).ready(function() {
    $('select').material_select();
  });
</script>


</body>
</html>
